<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API key</key>
	<string>UrYwdEoYSm33RbPXEYeI5p0Ph</string>
	<key>API secret</key>
	<string>dzVl9dcm3sSwjXDa6Z9881d0eglqz4jeG4fp502dumnYItLSLT</string>
</dict>
</plist>
